/*reset*/
* {
  font: 12px "Microsoft YaHei", "宋体", "Arial Narrow", HELVETICA;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
label {
  font-weight: normal;
  margin: 0;
}
h4,
ul,
p {
  margin: 0;
  font: 12px "Microsoft YaHei", "宋体", "Arial Narrow", HELVETICA;
}
input[type="text"] {
  border: none;
  height: auto;
  line-height: 0;
  padding-left: 0;
  padding-right: 0;
}
/*清除文本框后关闭按钮*/
input::-ms-clear {
  display: none;
}
/*清除密码框后有小眼睛图标*/
input::-ms-reveal {
  display: none;
}
/*reset end*/
a.ec-btn {
  background: #229be5;
  color: #fff;
  font-size: 12px;
  padding: 0 20px;
  border: 1px solid #229be5;
  border-radius: 2px;
  min-width: 80px;
  height: 30px;
  line-height: 30px;
  display: inline-block;
  text-align: center;
  transition: background .5s, border .4s;
}
a.ec-btn:hover {
  background: #23a5f5;
  border-color: #23a5f5;
  color: #fff;
}
a.ec-btn:active {
  background: #2b92d5;
  border-color: #2b92d5;
  color: #fff;
}
a.ec-btn:focus {
  color: #fff;
}
a.ec-btn.disabled {
  background: #ccc;
  color: #fff;
  border-color: #ccc;
  cursor: not-allowed;
}
a.ec-btn.ec-btn-lg {
  font-size: 14px;
  height: 40px;
  line-height: 40px;
}
a.ec-btn.ec-btn-cancel {
  border: 1px solid #d9d9d9;
  background: #fff;
  color: #4c4c4c;
}
a.ec-btn.ec-btn-cancel:hover {
  color: #4c4c4c;
  background: #f7f7f7;
  border-color: #d9d9d9;
}
a.ec-btn.ec-btn-cancel:active {
  background: #f0f0f0;
  color: #4c4c4c;
}
a.ec-btn.ec-btn-cancel.disabled {
  background: #fafafa;
  color: #cccccc;
  border-color: #d9d9d9;
  cursor: not-allowed;
}
a.ec-btn.ec-btn-popup {
  border-radius: 0;
  color: #1790db;
  border: 1px dashed #21a0ee;
  height: 26px;
  line-height: 26px;
  padding: 0 16px;
  background: #fff;
}
a.ec-btn.ec-btn-popup:hover {
  color: #40b4ff;
  border-color: #21a0ee;
}
a.ec-btn.ec-btn-popup:active {
  color: #2b93d5;
  border-color: #21a0ee;
}
a.ec-btn.ec-btn-popup.disabled {
  color: #bfbfbf;
  border-color: #959595;
}
.ec-btn-group {
  text-align: center;
}
.ec-btn-group .ec-btn {
  margin-right: 14px;
}
.ec-btn-group .ec-btn:nth-last-child(1) {
  margin-right: 0;
}
input.ec-input {
  font-size: 12px;
  line-height: 30px;
  height: 30px;
  padding: 0 12px;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  border-radius: 2px;
}
input.ec-input:focus {
  border-color: #66afe9;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
input.ec-input.ec-input-lg {
  font-size: 16px;
  height: 40px;
  line-height: 40px;
  padding: 0 22px;
}
input.ec-input.ec-input-xs {
  font-size: 12px;
  height: 24px;
  line-height: 24px;
  padding: 0 10px;
}
input[type='text']:disabled {
  background: #f8f8f8;
  cursor: not-allowed;
  color: #999999;
}
.ec-checkbox {
  cursor: pointer;
  height: 16px;
  display: inline-block;
  color: #4c4c4c;
}
.ec-checkbox a {
  color: #229be5;
}
.ec-checkbox input[type="checkbox"] {
  display: none;
}
.ec-checkbox input[type="checkbox"] + span {
  position: relative;
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 3px;
  border: 1px solid #7aa1bb;
  background-color: #fff;
  margin-right: 4px;
  vertical-align: middle;
}
.ec-checkbox input[type="checkbox"] + span:after {
  transform: rotate(45deg);
  position: absolute;
  left: 4px;
  top: 1px;
  display: table;
  width: 5px;
  height: 8px;
  border: 2px solid #fff;
  border-top: 0;
  border-left: 0;
  content: ' ';
  transition: all .2s;
}
.ec-checkbox input[type='checkbox']:checked + span:after {
  border-color: #0288d1;
}
.ec-checkbox input[type='checkbox']:disabled + span {
  border: 1px solid #d9d9d9;
  background-color: #f0f0f0;
  cursor: not-allowed;
}
.ec-checkbox input[type='checkbox']:disabled + span:after {
  border-color: transparent;
}
.ec-checkbox.checked span:after {
  border-color: #0288d1 !important;
}
.ec-checkbox.disabled span {
  border: 1px solid #d9d9d9 !important;
  background-color: #f0f0f0 !important;
  cursor: not-allowed !important;
}
.ec-checkbox.disabled span:after {
  border-color: transparent !important;
}
.ec-checkbox.line span {
  border-color: #ccc !important;
}
.ec-checkbox.line span:after {
  transform: rotate(90deg) !important;
  border-color: #ccc !important;
  border-bottom: 0 !important;
}
.ec-radio {
  cursor: pointer;
}
.ec-radio input[type="radio"] {
  display: none;
}
.ec-radio input[type="radio"] + span {
  position: relative;
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 8px;
  border: 1px solid #0288d1;
  background-color: #fff;
  margin-right: 4px;
  vertical-align: middle;
}
.ec-radio input[type="radio"] + span:after {
  position: absolute;
  left: 2px;
  top: 2px;
  display: table;
  width: 6px;
  height: 6px;
  border-radius: 5px;
  content: ' ';
  transition: all .2s;
}
.ec-radio input[type='radio']:checked + span:after {
  background-color: #0288d1;
}
.ec-radio input[type='radio']:disabled + span {
  border: 1px solid #d9d9d9;
  background-color: #f0f0f0;
  cursor: not-allowed;
}
.ec-radio input[type='radio']:disabled + span:after {
  border-color: transparent;
}
.ec-radio.checked span:after {
  background-color: #0288d1 !important;
}
.ec-radio.disabled span {
  border: 1px solid #d9d9d9 !important;
  background-color: #f0f0f0 !important;
  cursor: not-allowed !important;
}
.ec-radio.disabled span:after {
  background-color: #f0f0f0 !important;
}
.ec-radio-group .ec-radio {
  margin-right: 20px;
}
.ec-radio-group .ec-radio:nth-last-child(1) {
  margin-right: 0;
}
.ec-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
  _position: absolute;
  _clear: both;
  /* filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#7f000000,endColorstr=#7f000000); */
}
.ec-modal .ec-popuper {
  position: absolute;
  border-radius: 3px;
  background: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 5px;
  z-index: 10;
  left: 50%;
  top: 50%;
}
.ec-modal .ec-popuper h4 {
  position: relative;
  color: #fff;
  padding: 12px 16px;
  background: #229be5;
  border: 1px solid #229be5;
  font-size: 14px;
  line-height: 1.1;
}
.ec-modal .ec-popuper h4 i.ec-close {
  position: absolute;
  top: -1px;
  right: -1px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
  font-size: 12px;
  color: #fff;
  transition: background 0.2s;
}
.ec-modal .ec-popuper h4 i.ec-close:hover {
  background: #3478a2;
}
.ec-modal-container {
  padding: 20px;
}
.ec-modal-body {
  padding: 10px 50px;
}
.ec-modal-footer {
  padding-top: 10px;
  text-align: center;
}
.ec-modal-free {
  position: static;
  background: none;
  width: auto;
  height: auto;
}
.ec-dropdown {
  position: relative;
  display: inline-block;
}
.ec-dropdown.active img {
  transform: rotate(180deg);
}
.ec-dropdown.active ul {
  display: block;
}
.ec-dropdown.active input {
  outline: none;
  border-color: #2580e6;
  color: #96a0b4;
}
.ec-dropdown.active input:hover {
  border-color: #2580e6;
  color: #96a0b4;
  cursor: pointer;
}
.ec-dropdown.active input:focus {
  outline: none;
  border-color: #2580e6;
  color: #96a0b4;
}
.ec-dropdown.disabled img.default-down-icon {
  display: block;
}
.ec-dropdown.disabled img.down-icon {
  display: none;
}
.ec-dropdown.disabled input {
  color: #96a0b4;
}
.ec-dropdown input {
  width: 170px;
  height: 30px;
  padding-left: 10px;
  line-height: 28px;
  color: #303642;
  border: 1px solid #d4deee;
  -webkit-user-select: none;
}
.ec-dropdown img {
  position: absolute;
  right: 10px;
  top: 12px;
  transition: all .3s;
}
.ec-dropdown img.down-icon {
  display: block;
}
.ec-dropdown img.default-down-icon {
  display: none;
}
.ec-dropdown ul {
  display: none;
  position: absolute;
  width: 170px;
  top: 30px;
  border: 1px solid #2580e6;
  border-top: none;
  z-index: 2;
  transition: all .3s;
}
.ec-dropdown ul li {
  padding-left: 10px;
  background: #fff;
  height: 28px;
  line-height: 28px;
  color: #333333;
  cursor: pointer;
}
.ec-dropdown ul li:hover {
  background: #edf2fa;
}
.ec-dropdown ul li.active {
  background: #2580e6;
  color: #fff;
}
.ec-tooltip {
  display: inline-block;
  padding: 8px 10px;
  background: #ffffff;
  border: 1px #d4deee solid;
  font-size: 12px;
  color: #303642;
  border-radius: 2px;
  position: absolute;
  cursor: pointer;
  z-index: 10;
  box-shadow: #ddd 2px 2px 15px;
}
.ec-tooltip span img {
  margin-right: 4px;
  vertical-align: middle;
}
.ec-tooltip span i {
  position: absolute;
  z-index: 1;
}
.ec-tooltip .bottom .tip-one {
  border: 10px transparent solid;
  border-top: 10px #ccc solid;
  position: absolute;
  bottom: -20px;
  left: 19px;
}
.ec-tooltip .bottom .tip-two {
  border: 8px transparent solid;
  border-top: 8px #fff solid;
  position: absolute;
  bottom: -16px;
  left: 21px;
}
.ec-tooltip .right .tip-one {
  border: 10px transparent solid;
  border-left: 10px #ccc solid;
  bottom: 54px;
  right: -20px;
}
.ec-tooltip .right .tip-two {
  border: 8px transparent solid;
  border-left: 8px #fff solid;
  bottom: 56px;
  right: -16px;
}
