/*create by 2016-11-20*/
/*reset*/
* {
  font: 12px "Microsoft YaHei", "宋体", "Arial Narrow", HELVETICA;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
  font: 14px Arial, "Microsoft yahei";
  background: #fff;
  margin: 0;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
input[type="text"] {
  font-family: Arial, "Microsoft YaHei";
  border: none;
  height: auto;
  line-height: 0;
  padding-left: 0;
  padding-right: 0;
}
h1,
h2,
h3,
h4,
ul,
p {
  margin: 0;
  padding: 0;
}
img {
  display: inline-block;
  border: 0;
  vertical-align: middle;
}
/*清除文本框后关闭按钮*/
input::-ms-clear {
  display: none;
}
/*清除密码框后有小眼睛图标*/
input::-ms-reveal {
  display: none;
}
.clearfix {
  zoom: 1;
}
.clearfix:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
}
::selection {
  background: #f74e4e;
  color: #fff;
}
/*component*/
input[type="text"].v-input {
  padding: 0 10px;
  line-height: 48px;
  height: 48px;
  font-size: 20px;
  border: 1px solid #19242e;
}
input[type="text"].v-input:focus {
  outline: none;
}
a.v-btn {
  display: inline-block;
  background: #1dd2af;
  font-size: 20px;
  color: #fff;
  height: 50px;
  padding: 0 25px;
  line-height: 48px;
}
/*component*/
/*mixins*/
/*header*/
.header .top {
  color: #fff;
  background: #2c3e50;
  height: 40px;
  border-bottom: 1px solid #e0dfdf;
  overflow: hidden;
}
.header .top-box {
  width: 1170px;
  margin: 0 auto;
  zoom: 1;
}
.header .top-box:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
}
.header .top-box:before,
.header .top-box:after {
  content: " ";
  display: table;
}
.header .top-box:after {
  clear: both;
}
.header .top-box ul.top-nav {
  float: left;
}
.header .top-box ul.top-nav li:nth-last-child(2) i {
  background-position: -12px -26px;
}
.header .top-box ul.top-share {
  float: right;
}
.header .top-box ul.top-share li i {
  width: 15px;
  height: 14px;
  margin-right: 0;
}
.header .top-box ul.top-share li:nth-child(2) i {
  background-position: -11px -45px;
}
.header .top-box ul.top-share li:nth-child(3) i {
  background-position: -11px -66px;
}
.header .top-box ul.top-share li:nth-child(4) i {
  background-position: -12px -85px;
}
.header .top-box ul.top-share li:nth-child(5) i {
  background-position: -12px -103px;
}
.header .top-box ul.top-share li a {
  padding: 0 15px;
}
.header .top-box ul li {
  float: left;
  border-right: 1px solid #374d63;
}
.header .top-box ul li:first-child a {
  padding-left: 0;
}
.header .top-box ul li:after {
  content: "";
  border-right: 1px solid #17202a;
  position: absolute;
  height: 39px;
}
.header .top-box ul li a {
  color: #fff;
  line-height: 40px;
  padding: 0 17px;
  font-size: 15px;
}
.header .top-box ul li i {
  display: inline-block;
  width: 13px;
  height: 14px;
  margin-right: 8px;
  background: url(img/sprite.png) no-repeat -11px -9px;
}
.header .top-box ul li span {
  color: #1dd2af;
}
.header .nav {
  background: #fff;
  height: 90px;
}
.header .nav-box {
  width: 1170px;
  margin: 0 auto;
  zoom: 1;
}
.header .nav-box:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
}
.header .nav-box:before,
.header .nav-box:after {
  content: " ";
  display: table;
}
.header .nav-box:after {
  clear: both;
}
.header .nav-box h1 {
  line-height: 90px;
  cursor: pointer;
  float: left;
}
.header .nav-box ul {
  float: right;
}
.header .nav-box ul li {
  float: left;
}
.header .nav-box ul li.active a {
  color: #1dd2af;
}
.header .nav-box ul li.active:last-child a {
  padding-right: 0;
}
.header .nav-box ul li a {
  color: #5d6e80;
  padding-right: 38px;
  line-height: 90px;
  font-size: 15px;
  transition: color .5s;
}
.header .nav-box ul li a:hover {
  color: #1dd2af;
}
.header .nav-box .search-btn {
  width: 42px;
  height: 42px;
  border: 4px solid #2c3e50;
  border-radius: 50%;
  margin-top: 20px;
  position: relative;
}
.header .nav-box .search-btn i {
  position: absolute;
  top: 7px;
  left: 9px;
  padding-right: 0;
  width: 19px;
  height: 19px;
  background: url(img/sprite.png) no-repeat -12px -120px;
}
.header .banner {
  background: url(img/banner.png) no-repeat;
  height: 697px;
  width: 100%;
  background-size: 100%;
  position: relative;
}
.header .banner .banner-box {
  color: #fff;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header .banner .banner-box h3 {
  font-size: 50px;
}
.header .banner .banner-box p {
  font-size: 15px;
}
.header .banner .banner-box .banner-btn {
  margin-top: 40px;
}
.header .banner .banner-box .banner-btn a {
  display: inline-block;
  text-align: center;
  font-size: 18px;
  color: #fff;
  height: 60px;
  line-height: 60px;
  border-radius: 5px;
  border: 2px solid #fff;
  transtion: all .5s;
}
.header .banner .banner-box .banner-btn a:hover {
  background: #1dd2af;
  border-color: #1dd2af;
}
.header .banner .banner-box .banner-btn a:first-child {
  background: #1dd2af;
  border-color: #1dd2af;
  width: 222px;
  margin-right: 14px;
}
.header .banner .banner-box .banner-btn a:last-child {
  width: 160px;
}
.header .banner .banner-switch li {
  width: 80px;
  height: 80px;
  position: absolute;
  background: #506e79;
  opacity: .8;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  cursor: pointer;
}
.header .banner .banner-switch li:first-child {
  left: 0;
}
.header .banner .banner-switch li:last-child {
  right: 0;
}
.header .banner .banner-switch li.active {
  background: #1dd2af;
  opacity: 1;
}
.header .banner .banner-switch li img {
  margin-top: 24px;
}
.header .search {
  border-top: 1px solid #3a4e61;
  background: #2c3e50;
}
.header .search .search-box {
  width: 1170px;
  margin: 0 auto;
  zoom: 1;
}
.header .search .search-box:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
}
.header .search .search-box:before,
.header .search .search-box:after {
  content: " ";
  display: table;
}
.header .search .search-box:after {
  clear: both;
}
.header .search .search-box .text {
  width: 165px;
  border-right: 1px solid #374a5d;
  padding: 27px 0;
  position: relative;
  float: left;
  margin-right: 38px;
}
.header .search .search-box .text span:first-child {
  display: block;
  font-size: 20px;
  color: #9fb0c0;
}
.header .search .search-box .text span:nth-child(2) {
  font-size: 25px;
  color: #fff;
}
.header .search .search-box .text .triangle {
  width: 8px;
  height: 15px;
  position: absolute;
  right: 0;
}
.header .search .search-box .text .triangle i:last-child {
  display: inline-block;
  border: 10px transparent solid;
  border-left: 10px solid #2c3e50;
  position: absolute;
  bottom: 36px;
  right: -16px;
}
.header .search .search-box .text .triangle i:first-child {
  border: 8px transparent solid;
  border-left: 8px solid #3c5063;
  position: absolute;
  bottom: 38px;
  right: -16px;
}
.header .search .search-box ul {
  float: left;
  padding: 27px 0;
}
.header .search .search-box ul li {
  float: left;
  margin-right: 25px;
}
.header .search .search-box ul li p {
  float: left;
  color: #9fb0c0;
  font-size: 22px;
  margin-right: 25px;
  line-height: 48px;
}
.header .search .search-box .search-btn {
  padding: 27px 0;
}
/*special*/
.special {
  text-align: center;
  margin-bottom: 127px;
}
.special h3 {
  color: #2c3e50;
  font-size: 25px;
  margin-top: 80px;
}
.special p {
  color: #626262;
  font-size: 16px;
  margin-bottom: 55px;
}
.special ul {
  zoom: 1;
  width: 1750px;
  margin: 0 auto;
}
.special ul:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
}
.special ul:before,
.special ul:after {
  content: " ";
  display: table;
}
.special ul:after {
  clear: both;
}
.special ul li {
  float: left;
  margin-right: 17px;
  border: 5px solid #eeeeee;
  border-radius: 5px;
}
.special ul li:last-child {
  margin-right: 0;
}
.special ul li.active {
  border-color: #1dd2af;
}
.special ul li.active img {
  width: 267px;
  height: 223px;
}
.special ul li.active p {
  background: #2c3e50;
}
.special ul li.active p span:first-child {
  color: #fff;
}
.special ul li.active p span:last-child {
  color: #8899a8;
}
.special ul li img {
  width: 267px;
  height: 197px;
}
.special ul li p {
  text-align: left;
  padding: 12px 15px;
  background: #eeeeee;
  margin-bottom: 0;
}
.special ul li p span {
  display: block;
}
.special ul li p span:first-child {
  color: #626262;
  font-size: 16px;
}
/*tupe*/
.type {
  background: url(img/main_center_bg.jpg) no-repeat;
  height: 518px;
  width: 100%;
  background-size: 100%;
  text-align: center;
}
.type h3 {
  color: #fff;
  font-size: 25px;
  padding-top: 78px;
  margin-bottom: 10px;
}
.type p {
  font-size: 16px;
  color: #9eafc0;
  margin-bottom: 65px;
}
.type ul {
  width: 1140px;
  margin: 0 auto;
  zoom: 1;
}
.type ul:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
}
.type ul:before,
.type ul:after {
  content: " ";
  display: table;
}
.type ul:after {
  clear: both;
}
.type ul li {
  float: left;
  display: inline-block;
  border-radius: 50%;
  margin-right: 36px;
  border: 7px solid #fff;
  text-align: center;
  width: 160px;
  height: 160px;
}
.type ul li:last-child {
  margin-right: 0;
}
.type ul li.active {
  border-color: #1dd2af;
}
.type ul li.active span {
  color: #1dd2af;
}
.type ul li cite {
  display: inline-block;
  margin-top: 22px;
  width: 116px;
  height: 90px;
}
.type ul li:nth-child(1) cite {
  background: url(img/sprite.png) no-repeat -30px -4px;
}
.type ul li:nth-child(2) cite {
  background: url(img/sprite.png) no-repeat -33px -90px;
}
.type ul li:nth-child(3) cite {
  background: url(img/sprite.png) no-repeat -30px -192px;
}
.type ul li:nth-child(4) cite {
  background: url(img/sprite.png) no-repeat -138px -6px;
}
.type ul li:nth-child(5) cite {
  background: url(img/sprite.png) no-repeat -133px -102px;
}
.type ul li:nth-child(6) cite {
  background: url(img/sprite.png) no-repeat -148px -195px;
}
.type ul li span {
  display: block;
  color: #9dafc0;
  font-size: 20px;
  margin-top: 60px;
}
